<div class="body-gorras">
  <app-navbar></app-navbar>

  <div class="categoria">
    <h1><strong>MUJER</strong></h1>
    <div class="grid-productos">

      <div class="producto"><img src="../../../assets/images/GM1.png">
        <p>New York Yankees MLB Women's League Essentials 9FORTY Strapback Rosa para Mujer</p><p>$800.00</p>
        <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GM2.png">
        <p>New York Yankees MLB Women's Wool Tweed 9FORTY Strapback Rosa para Mujer</p><p>$950.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GM3.png"><p></p>Los Angeles Dodgers MLB Bouquet 9TWENTY Strapback para Mujer<p>$999.50</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GM4.png"><p>Los Angeles Dodgers MLB Women's League Essentials 9FORTY Strapback para Mujer</p><p>$799.99</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      </div>

      <div class="grid-productos">
        <div class="producto"><img src="../../../assets/images/GM5.png"><p>New York Yankees MLB Women's Metallic Logo 9FORTY Strapback Azul para Mujer</p><p>$950.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GM6.png"><p>New York Yankees MLB Sequin 9FORTY Strapback para Mujer</p><p>$800.50</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GM7.png"><p>Los Angeles Dodgers MLB Cord 9TWENTY Strapback para Mujer</p><p>$700.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GM8.png"><p>Atlanta Braves MLB Women's Floral 9TWENTY Strapback para Mujer</p><p>$700.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        </div>

        <div class="grid-productos">
            <div class="producto"><img src="../../../assets/images/GM9.png"><p>New York Yankees MLB Summer Corduroy 9FORTY Strapback Verde para Mujer</p><p>$850.00</p>
                <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
            </div>
            <div class="producto"><img src="../../../assets/images/GM10.png"><p>Kansas City Royals MLB Women's Floral 9TWENTY Strapback para Mujer</p><p>$900.50</p>
                <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
            </div>
            <div class="producto"><img src="../../../assets/images/GM11.png"><p>Los Angeles Dodgers MLB League Essentials 9FORTY Strapback Amarilla para Mujer</p><p>$750.00</p>
                <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
            </div>
            <div class="producto"><img src="../../../assets/images/GM12.png"><p>Los Angeles Dodgers MLB League Essentials 9FORTY Strapback Beige para Mujer</p><p>$790.00</p>
                <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
            </div>
        </div>

  </div>

  <footer>
    &copy; 2025 Behat - Todos los derechos reservados
  </footer>
</div>
