<div class="body-gorras">
  <app-navbar></app-navbar>

  <div class="categoria">
    <h1><strong>PROMOCIONES</strong></h1>
    <h2><strong>MUJER</strong></h2>
    <div class="genero">
      <h3><a href="/promociones-hombre">Hombre</a></h3>
      <h3><a href="/promociones-mujer">Mujer</a></h3>
    </div>

    <div class="grid-productos">
      <div class="producto"><img src="../../../assets/images/GM9.png">
        <p>New York Yankees MLB Summer Corduroy 9FORTY Strapback Verde para Mujer</p><p>$850.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GM10.png">
        <p>Kansas City Royals MLB Women's Floral 9TWENTY Strapback para Mujer</p><p>$900.50</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto">
        <img src="../../../assets/images/GM11.png"><p>Los Angeles Dodgers MLB League Essentials 9FORTY Strapback Amarilla para Mujer</p><p>$750.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto">
        <img src="../../../assets/images/GM12.png"><p>Los Angeles Dodgers MLB League Essentials 9FORTY Strapback Beige para Mujer</p><p>$790.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
    </div>


  </div>

  <footer>
    &copy; 2025 Behat - Todos los derechos reservados
  </footer>
</div>
