<header>
  <div class="tagline">USAR BEHAT TE DA UN ESTILO DIFERENTE</div>
  <div class="header-icons">
    <a href="#" title="Buscar"><i class="fas fa-search"></i></a>
    <a href="#" title="Carrito"><i class="fas fa-shopping-cart"></i></a>
    <a href="#" title="Cuenta"><i class="fas fa-user"></i></a>
  </div>
</header>

<div class="topbar">
  <div class="icons">
    <a href="#" (click)="abrirModal()">
      <img src="../../../assets/images/buscar.png" alt="Buscar" width="24">
    </a>
  </div>
  <div class="logo">BEHAT</div>
  <div class="icons">
    <a routerLink="/login"><img src="../../../assets/images/IS.png" alt="Usuario" width="24"></a>
    <a href="#" (click)="openModal()">
      <img src="../../../assets/images/carrito.png" alt="Carrito" width="24">
    </a>

  </div>
</div>

<nav>
  <ul>
    <li><a href="/">INICIO</a></li>
    <li><a href="/mujer">MUJER</a></li>
    <li><a href="/hombre">HOMBRE</a></li>
    <li><a href="/promociones">promociones</a></li>
  </ul>
</nav>
