<div class="body-gorras">
  <app-navbar></app-navbar>

  <div class="categoria">
    <h1><strong>HOMBRE</strong></h1>
    <div class="grid-productos">

      <div class="producto"><img src="../../../assets/images/GH1.png"><p>Los Angeles Dodgers MLB Gold Collection 39THIRTY Elástica</p><p>$800.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GH2.png"><p>New York Yankees MLB Armed Forces Day 2025 59FIFTY Cerrada</p><p>$950.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GH3.png"><p> MLB All Over 59FIFTY Cerrada<p>$1200.50</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      <div class="producto"><img src="../../../assets/images/GH4.png"><p>New York Yankees Purple Logo MLB Color Pack 59FIFTY Cerrada</p><p>$700.99</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
      </div>
      </div>

      <div class="grid-productos">
        <div class="producto"><img src="../../../assets/images/GH5.png"><p>Los Angeles Dodgers MLB Clubhouse 2025 59FIFTY Cerrada</p><p>$900.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GH6.png"><p>New York Yankees MLB Classics 59FIFTY Cerrada Azul</p><p>$800.50</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GH7.png"><p></p>Boston Red Sox MLB Hand Stitched Floral 59FIFTY Cerrada<p>$700.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
        <div class="producto"><img src="../../../assets/images/GH8.png"><p></p>Brooklyn Dodgers MLB Jackie Robinson Day 2025 59FIFTY RC Cerrada<p>$700.00</p>
            <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
        </div>
      </div>

      <div class="grid-productos">
          <div class="producto"><img src="../../../assets/images/GH9.png"><p>New York Yankees MLB Color Pack 59FIFTY Cerrada</p><p>$850.00</p>
              <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
          </div>
          <div class="producto"><img src="../../../assets/images/GH10.png"><p>New York Yankees J-Frost X MLB 59FIFTY Cerrada</p><p>$900.50</p>
              <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
          </div>
          <div class="producto"><img src="../../../assets/images/GH11.png"><p>Atlanta Braves MLB Floral Undervisor 59FIFTY Cerrada</p><p>$750.00</p>
              <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
          </div>
          <div class="producto"><img src="../../../assets/images/GH12.png"><p></p>Los Angeles Dodgers MLB Urban Blue Camo 59FIFTY Cerrada MLB<p>$790.00</p>
              <button class="product-grid__btn btn-default" (click)="openModal()">Agregar al carrito</button>
          </div>
      </div>

  </div>

  <footer>
    &copy; 2025 Behat - Todos los derechos reservados
  </footer>
</div>
