<div class="modal__container">
  <button type="button" class="modal__close fa-solid fa-xmark jsModalClose "></button>

  <div class="modal__info">
      <div class="modal__header">
          <h2><i class="fa-brands fa-opencart"></i>Carrito</h2>
      </div>

      <div class="modal__body">
        <div class="modal__item">
          <div class="modal__thumb">
              <img src="../../../assets/images/GH1.png" alt="azul">
          </div>
          <div class="modal__text-product">
              <p>Gorra</p>
              <p><strong>$9.00 / kg</strong></p>
          </div>
          <div class="modal__controls">
              <button mat-icon-button (click)="restarCantidad('GH1')">
                  <mat-icon>remove</mat-icon>
              </button>
              <span>{{ cantidadGH1 }}</span>
              <button mat-icon-button (click)="sumarCantidad('GH1')">
                  <mat-icon>add</mat-icon>
              </button>
          </div>
        </div>

        <div class="modal__item">
          <div class="modal__thumb">
              <img src="../../../assets/images/GH5.png" alt="blanco">
          </div>
          <div class="modal__text-product">
              <p>Gorra</p>
              <p><strong>$5.00 / kg</strong></p>
          </div>
          <div class="modal__controls">
              <button mat-icon-button (click)="restarCantidad('GH5')">
                  <mat-icon>remove</mat-icon>
              </button>
              <span>{{ cantidadGH5 }}</span>
              <button mat-icon-button (click)="sumarCantidad('GH5')">
                  <mat-icon>add</mat-icon>
              </button>
          </div>
        </div>

      </div>

      <div class="modal__footer">
          <div class="modal__list-price">
              <ul>
                  <li>Subtotal: <strong>$14.00</strong></li>
                  <li>Descuento: <strong>$0.00</strong></li>
              </ul>
              <h4 class="modal__total-cart"> Total: $14.00</h4>
          </div>

          <div class="buttons-modal">
            <button mat-button class="btn-regresar" (click)="cerrar_modal()">
                Cancelar
            </button>
            <button mat-button class="btn-regresar" (click)="comprarProducto()">
                Comprar
            </button>
          </div>
      </div>
  </div>
</div>
